training_data/ASL/wlasl/
training_data/ASL/semlex/
training_data/NGT/data/
training_data/gloss_lists/
training_data/
slurm/
utils/
logs/
wandb/
lightning_logs/
new_models/
configs/
results/
openhands/models/external_models/egnn/slr_system/slr_datasets/

*.job
slurm*
*__pycache__*

localnotes.txt
train.py
paths.sh

.vscode/launch.json

train.py
# Data 
*.pkl
*.yaml